.Parallax
    margin-bottom: 15rem
    position: relative
    height: 73rem
    display: flex
    align-items: flex-end
    flex-direction: column
    justify-content: flex-end
    color: white
    background-repeat: repeat
    font-size: 2rem

    &__Title,
    &__Paragraph
        max-width: 950px

@media screen and (max-width: 768px)
    .Parallax
        height: 45rem
