.Home__Parallax
    margin-bottom: 45rem
    position: relative
    height: 80vh
    display: flex
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    color: white
    background-size: cover
    background: url(https://images.unsplash.com/photo-1612446350755-6dc705c693d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    font-size: 2rem
