.Parallax
    margin-bottom: 15rem
    position: relative
    height: 73rem
    display: flex
    align-items: flex-end
    flex-direction: column
    justify-content: flex-end
    color: white
    background-repeat: repeat
    font-size: 2rem
    background-size: cover
    background-color: #F8F8F8
    box-sizing: border-box
    padding: 5rem

    &__Title
        text-align: right
        font: bold 20px/23px HelveticaNeue
        letter-spacing: 3.6px
        color: #FFBD27
        text-transform: uppercase
        opacity: 1
        max-width: 20rem

    &__Paragraph
        width: 60rem
        text-align: right
        font: normal normal 300 25px/29px HelveticaNeue
        letter-spacing: 0.5px
        color: black
        opacity: 0.5
        font-weight: bold

        &__Cta

@media screen and (max-width: 768px)
    .Parallax
        height: 45rem
