.Block
    &__Three-items-gallery
        display: flex
        justify-content: space-between
        margin: 0 auto 11rem auto

        .Block-caption
            width: 30%

            h4
                margin-top: 5rem

        .Block-caption > video,
        .Block-caption > img
            height: 25vw
            object-fit: cover

        & > img,
        & > video
            width: 30%
            height: 22rem
            object-fit: cover

@media screen and (max-width: 1024px)
    .Block
        &__Two-items-crossed-bottom

            .Block-caption

                h4

            .Block-caption > .Video,
            .Block-caption > img,
            .Block-caption > div
                height: 34rem

            & > img,
            & > video
                height: 34rem

@media screen and (max-width: 768px)
    .Block
        &__Three-items-gallery
            height: auto
            align-items: center
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%

            .Block-caption > video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > video
                position: relative
                height: auto
                width: 100%
                margin-bottom: 2rem
