.Block
    &__Two-items-crossed-bottom-spaced    
        min-height: 40rem
        display: flex
        align-items: center
        justify-content: space-around
        margin: 0 auto 20rem auto

        .Block-caption
            width: 48%
            position: absolute
            left: 0
            top: 0
            z-index: 1

            h4
                margin-top: 5rem

        .Block-caption > .Video video,
        .Block-caption > .Image > img
            width: 100%
            object-fit: cover

        & > .Image,
        & > .Video
            box-shadow: 0 0 20px 5px #efefef73
            width: 48%
            position: absolute
            right: 1rem
            top: 0
            z-index: 1

        & > .Image > img
            width: 100%
            object-fit: cover

@media screen and (max-width: 768px)
    .Block
        &__Two-items-crossed-bottom-spaced
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                position: relative
                height: auto
                width: 100%
                top: unset
                right: unset
                margin: 0 auto 2rem auto
