.Block
    &__Two-items
        display: flex
        margin: 0 auto 10rem auto
        align-items: flex-start
        justify-content: space-between

        .Block-caption
            width: 48%
            margin-top: 20rem

            h4
                margin-top: 9rem

        & > .Video
            height: 43rem

        & > img

            width: 39%
            margin: 7rem 7rem 0 0
            box-shadow: 0 0 20px 5px #efefef

@media screen and (max-width: 768px)
    .Block
        &__Two-items
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                height: auto
                width: 90%

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                height: auto
                width: 90%
                margin-bottom: 2rem
