.Block
    &__Two-items-crossed-bottom-spaced
        height: 36rem
        display: flex
        // max-width: 134rem
        align-items: center
        justify-content: space-around
        margin: 0 auto 7rem auto

        .Block-caption
            width: 48%
            position: absolute
            left: 0
            top: 0
            z-index: 1

            h4
                margin-top: 5rem

        .Block-caption > .Video,
        .Block-caption > img
            width: 100%
            object-fit: cover

        & > img,
        & > .Video

            box-shadow: 0 0 20px 5px #efefef73
            width: 48%
            position: absolute
            bottom: 0
            right: 1rem
            top: 8rem
            z-index: 1

@media screen and (max-width: 768px)
    .Block
        &__Two-items-crossed-bottom-spaced
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                position: relative
                height: auto
                width: 100%
                top: unset
                margin: 0 auto 2rem auto
