.Block
    &__Two-items-crossed-bottom
        display: flex
        align-items: center
        justify-content: flex-start
        margin: 0 auto 18rem auto

        .Block-caption
            width: 51%
            z-index: 2
            margin-left: 3rem
            margin-top: 3rem

            h4
                margin-top: 7rem

        .Block-caption > .Video,
        .Block-caption > img,
        .Block-caption > div
            width: 100%
            height: 56rem
            object-fit: cover

        & > img,
        & > video
            height: 48rem
            object-fit: cover
            margin-right: 3rem
            width: 52.5%
            position: absolute
            top: 22rem
            right: 0
            z-index: 2

@media screen and (max-width: 1024px)
    .Block
        &__Two-items-crossed-bottom

            .Block-caption

                h4

            .Block-caption > .Video,
            .Block-caption > img,
            .Block-caption > div
                height: 34rem

            & > img,
            & > video
                height: 34rem

@media screen and (max-width: 768px)
    .Block
        &__Two-items-crossed-bottom
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%
                margin: 0 auto

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto
                margin: 0 auto

            & > img,
            & > .Video
                position: relative
                height: auto
                top: 0
                width: 100%
                margin: 0 auto 2rem auto
