.Block
    &__Two-items-overlap-squared
        display: flex
        align-items: center
        justify-content: flex-start
        margin: 0 auto 17rem auto
        max-width: 131rem
        transform: translateX(-1rem)

        .Block-caption
            width: 58%
            z-index: 5

            h4
                margin-top: 1.5rem

        .Block-caption > .Video,
        .Block-caption > img

        & > img,
        & > .Video
            right: 0
            top: 68%
            width: 59%
            position: absolute
            transform: translateY(-60%)
            z-index: 2

@media screen and (max-width: 768px)
    .Block
        &__Two-items-overlap-squared
            transform: unset
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto
                top: unset
                left: unset
                right: unset
                transform: unset

            & > img,
            & > .Video
                position: relative
                height: auto
                width: 100%
                margin-left: 0
                margin-bottom: 2rem
                top: unset
                left: unset
                right: unset
                transform: unset
