.Block
    position: relative
    max-width: 80rem
    width: 65%

    &.hide
        display: none

    .Video,
    .Image
        overflow: hidden

    .Image > img,
    .Video video
        transform: scale(1.0)
        transition: all .2s ease
        cursor: pointer

    .Video:hover video,
    .Image:hover > img
        cursor: pointer
        transform: scale(1.1)

    &-caption
        box-sizing: border-box
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        border-left: 2px solid #EAEAEA
        display: flex
        align-items: flex-start
        flex-direction: column
        font-size: 1.5rem

        .Video,
        .Image
            margin-left: -2px

        h4
            margin-top: 7rem
            margin-bottom: 0.5rem
            font-family: 'HelveticaNeueMedium'
            letter-spacing: 1px
            font-weight: 500
            cursor: pointer
            color: #7C7C7C
            text-align: left
            padding-left: 2rem
            text-transform: uppercase
            font-size: 1.3rem
            line-height: 1.7rem

        p
            text-align: left
            cursor: pointer
            padding-left: 2rem
            font-size: 1.3rem
            margin: 0
            color: #7C7C7C
            font-weight: 500
            letter-spacing: 1.1px

@media screen and (max-width: 768px)
    .Block
        &-caption
            border-left: 0px solid transparent
