.Block
    &__Four-items
        max-width: 870px
        display: flex
        flex-direction: column
        align-items: flex-end
        margin: 0 auto 15rem auto
        justify-content: space-around

        .Block-caption
            width: 64rem
            position: absolute
            left: 0
            top: 5rem

        .Block-caption > .Video,
        .Block-caption > img
            width: 100%
            object-fit: cover
            height: calc(100% - 9rem)

        & > img,
        & > .Video
            z-index: 2
            object-fit: cover
            height: 22rem
            margin: 1rem

@media screen and (max-width: 768px)
    .Block
        &__Four-items
            height: auto
            align-items: center
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                height: auto
                width: 90%
                position: relative
                transform: translateY(0)

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                height: auto
                width: 90%
                margin-bottom: 2rem
