.Block
    &__Four-items
        display: flex
        flex-direction: column
        align-items: flex-end
        margin: 0 auto 20rem auto
        justify-content: space-around
        transform: translateX(-1rem)
        min-height: 70rem

        .Block-caption
            height: 100%
            width: 73.5%
            position: absolute
            left: 6rem
            top: 4rem

            h4
                margin-top: 5rem

        .Block-caption .Video,
        .Block-caption .Image
            width: 100%
            object-fit: cover
            height: calc(100% - 9rem)

        & .Image,
        & .Video
            height: 21rem
            z-index: 2
            margin: 0 5rem 0rem 0rem

            & img
                height: 100%
                object-fit: cover

@media screen and (max-width: 2560px)
    .Block
        &__Four-items

            & .Image,
            & .Video
                height: 22rem

                & img
                    height: 100%
                    object-fit: cover

@media screen and (max-width: 1024px)
    .Block
        &__Four-items

            & .Image,
            & .Video
                height: 21rem

@media screen and (max-width: 768px)
    .Block
        &__Four-items
            transform: unset
            height: auto
            align-items: center
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                height: auto
                width: 100%
                position: relative
                transform: translateY(0)

            .Block-caption .Video,
            .Block-caption .Image
                height: auto
                width: auto

            & .Image,
            & .Video
                height: auto
                width: 100%
                margin-bottom: 2rem
