.Block
    &__Two-items-crossed-bottom
        display: flex
        align-items: center
        justify-content: flex-start
        margin: 0 auto 15rem auto

        .Block-caption
            width: 52%
            z-index: 2

        .Block-caption > .Video,
        .Block-caption > img
            width: 100%
            object-fit: cover

        & > img,
        & > video
            width: 55%
            position: absolute
            top: 15rem
            right: 0
            z-index: 2

@media screen and (max-width: 768px)
    .Block
        &__Two-items-crossed-bottom
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 90%

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                position: relative
                height: auto
                width: 90%
                margin-bottom: 2rem
