.Block
    &__Two-items-crossed-top-overlap
        display: flex
        min-height: 52rem
        align-items: center
        justify-content: space-around
        margin: 0 auto 12rem auto
        // max-width: 120rem

        .Block-caption
            width: 67%
            position: absolute
            top: 11rem
            left: 0
            z-index: 2

            h4
                margin-top: 5.5rem

        .Block-caption > .Video,
        .Block-caption > img
            object-fit: cover

        & > img,
        & > .Video
            top: 5rem
            right: 4rem
            z-index: 1
            width: 43%
            object-fit: contain
            position: absolute
            object-position: right

@media screen and (max-width: 768px)
    .Block
        &__Two-items-crossed-top-overlap
            height: auto
            flex-direction: column-reverse

            .Block-caption
                min-width: auto
                position: relative
                height: auto
                width: 100%
                top: unset
                left: unset
                right: unset

            .Block-caption > .Video,
            .Block-caption > img
                height: auto
                width: auto

            & > img,
            & > .Video
                position: relative
                height: auto
                width: 100%
                margin-bottom: 2rem
                top: unset
                left: unset
                right: unset
