.Menu
    padding: 10rem 0
    top: 0
    right: -30vw
    bottom: 0
    width: 30vw
    z-index: 21
    display: flex
    position: fixed
    overflow: hidden
    align-items: center
    flex-direction: column
    justify-content: space-around
    transition: all .6s cubic-bezier(1, 0, 0, 1)

    &__Lang
        margin-left: 15rem
        font-size: 1.5rem
        color: #025295
        display: none

    &__Item:not(.Menu__Lang)
        cursor: pointer
        position: relative

        button
            cursor: pointer !important
            font-size: 3rem
            background: transparent
            font-family: "HelveticaNeue"
            border: 0 solid transparent
            transition: all .2s cubic-bezier(.5, 0, 0, .5)

        span
            position: absolute
            top: 0
            left: 0
            width: 200%
            right: 0
            opacity: 0
            color: white
            font-family: "HelveticaNeue"
            letter-spacing: 6px
            text-shadow: -1px 0 #025295, 0 1px #025295, 1px 0 #025295, 0 -1px #025295
            bottom: 0
            font-size: 3rem
            transition: all .2s cubic-bezier(.5, 0, 0, .5)

    &__Item:hover

        button
            transform: translateY(-5px) translateX(-3px)

        span
            opacity: 1
            transform: translateY(1rem) translateX(1rem)

    &__Switcher
        position: fixed
        z-index: 1080
        top: 5.5rem
        right: 3.6rem
        display: flex
        align-items: center
        outline: 0
        height: 0.6rem
        width: 3rem
        border: 0
        padding: 0
        background: 0 0
        transition: all .25s ease-out
        cursor: pointer

        &:before, &:after
            content: ""
            width: 2.5rem
            height: 2px
            position: absolute
            background: #fff
            transition: all .25s ease-out
            will-change: transform

        &:before
            transform: translateY(-3px)

        &:after
            transform: translateY(5px)

    // Menu is open
    &.open
        background-color: #F2F2F2
        right: 0vw

        .Menu__Switcher

            &:before
                background-color: #025295
                transform: translateY(0) rotate(45deg)

            &:after
                background-color: #025295
                transform: translateY(0) rotate(-45deg)

        .Menu__Item:not(.Menu__Lang)
            animation: fadeInFromBottom 1s ease-in-out 0s

    // Menu is closed
    &.close
        background-color: transparent

        .Menu__Switcher

            &:before
                background-color: #CCCCCC

            &:after
                background-color: #CCCCCC

        .Menu__Item, .Social
            opacity: 0

@keyframes fadeInFromBottom
    from
        opacity: 0
        transform: translateY(100%)

    to
        opacity: 1
        transform: translateY(0%)

@media screen and (max-width: 768px)
    .Menu
        width: 100%
        align-items: center

        &.close
            right: -100%
