.Isotope
    margin-bottom: 10rem

    &__Menu
        padding: 0
        display: flex
        list-style-type: none
        align-items: center
        justify-content: center
        margin-bottom: 12rem
        font-size: 1.5rem
        font-weight: bold
        text-transform: uppercase
        line-height: 1.7rem
        letter-spacing: .15rem

        > li
            color: #7F7F7F
            margin: 0 4rem
            cursor: pointer

            &.active
                color: #025295

    .filter-container
        margin: 0 auto
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        padding: 0

        .filter-item
            position: relative
            cursor: pointer
            overflow: hidden
            display: block
            width: 33.33%
            height: 70rem
            box-sizing: border-box

            video
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                z-index: -1

            span
                padding: 0 0 4rem 4rem
                box-sizing: border-box
                height: 100%
                width: 100%
                font-size: 2rem
                font-weight: bold
                color: white
                background: rgba(2, 82, 149, 0.5)
                display: flex
                bottom: 0
                justify-content: flex-start
                align-items: flex-end
                transform: translateY(-100%)
                opacity: 0
                transition: all .3s ease

        .filter-item:hover span
            opacity: 1
            transform: translateY(0)
