.Paragraph
    margin: 0 auto 14rem auto
    width: 105rem

    &__Text
        text-align: center
        font: normal normal 300 25px/29px "Helvetica Neue"
        letter-spacing: 0.5px
        color: #000000
        opacity: 0.5

@media screen and (max-width: 768px)
    .Paragraph
        margin: 0 auto 10rem auto
        max-width: 950px

        &__Text
            font-size: 2rem
            padding: 1.5rem
