.Paragraph
    margin: 0 auto 10rem auto
    max-width: 950px

    &__Text
        font-size: 2rem
        color: #7F7F7F
        letter-spacing: 2px
        font-family: "HelveticaNeue"
        font-weight: 100

@media screen and (max-width: 768px)
    .Paragraph
        margin: 0 auto 10rem auto
        max-width: 950px

        &__Text
            font-size: 2rem
            padding: 1.5rem
