.Title
    font-size: 4rem
    color: white
    max-width: 950px
    margin: 15rem auto 8rem auto
    text-shadow: 0 0 2px red
    font-style: italic
    text-shadow: -1px 0 #025295, 0 1px #025295, 1px 0 #025295, 0 -1px #025295
    filter: progid:DXImageTransform.Microsoft.Glow(Color=red,Strength=1)
