.Home
    text-align: center
    width: 100%

.Home > *:not(.Parallax)

.Family
    display: flex
    margin-top: 10rem
    justify-content: space-between
    align-items: center
    flex-direction: row
    max-width: 145rem
    width: 70%
    margin: 10rem auto 12rem auto

    &__Text
        width: 26%
        text-align: left

        h4
            font-family: 'HelveticaNeueMedium'
            font-weight: 100
            letter-spacing: 4px
            font-size: 1.5rem
            color: #025295

        p
            font-family: "HelveticaNeueExtraLight"
            font-size: 1.7rem
            color: #7C7C7C
            letter-spacing: 0.5px
            line-height: 1.9rem

    &__Carousel
        width: 70%
        height: auto
        padding: 0 5rem
        margin-top: 5rem
        position: relative
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box

        &::before
            content: ""
            background-color: #F2F2F2
            position: absolute
            right: 3rem
            top: -6rem
            bottom: -8rem
            left: 36rem

        .rec-carousel
            .rec-carousel-item
                display: flex
                justify-content: center
                align-items: center

            button:nth-child(1)
                z-index: 1
                width: 6rem
                position: absolute
                left: 0
                top: 50%
                transform: translate(-30%, -50%)
                border: none
                background: transparent
                cursor: pointer
                height: 2rem

                & > img
                    height: 100%
                    width: 100%

            button:nth-child(3)
                z-index: 1
                width: 6rem
                position: absolute
                top: 50%
                right: -3rem
                transform: translate(30%, -50%)
                border: none
                background: transparent
                cursor: pointer
                height: 2rem

                & > img
                    height: 100%
                    width: 100%

.Person
    display: flex
    justify-content: center
    align-items: center
    width: 100%

    &__Picture
        object-fit: cover
        width: 21rem
        margin-left: 1%

    &__Text
        display: block
        padding-left: 4rem
        text-align: left
        width: 50%

    &__Name
        font-family: 'HelveticaNeueBold'
        font-style: italic
        font-size: 3.5rem
        color: #7C7C7C
        margin-top: 1rem
        margin-bottom: .5rem

    &__Position
        font-family: 'HelveticaNeueLight'
        font-style: italic
        font-size: 2rem
        color: #7C7C7C
        letter-spacing: 0.3px
        width: 100%
        display: inline-block

    &__Description
        font-family: "HelveticaNeueExtraLight";
        font-size: 1.4rem;
        color: #7C7C7C
        letter-spacing: 0.5px;
        padding: 0 2rem 0 0;
        line-height: 1.8rem;

@media screen and (max-width: 2560px)
    .Family
        &__Carousel

            .rec-carousel button:nth-child(1)
                left: 9rem

            .rec-carousel button:nth-child(3)
                right: 2rem

            &::before
                left: 25rem


@media screen and (max-width: 1440px)
    .Family
        &__Carousel

            .rec-carousel button:nth-child(1)
                left: 5rem

            &::before
                content: ""
                background-color: #F8F8F8
                position: absolute
                top: 50%
                left: 17rem
                height: 128%
                width: 70%
                transform: translateY(-50%)
    
@media screen and (max-width: 768px)
    .Family
        height: auto
        flex-direction: column

        &__Text
            width: 100%

        &__Carousel
            width: 100%
            height: auto
            margin-top: 10rem

        &__Carousel::before
            content: ""
            background-color: #F8F8F8
            position: absolute
            top: 50%
            left: 10rem
            height: 60%
            width: 80%
            transform: translateY(-50%)
        
.Person
    &__Description

    &__Text
        padding-left: 5rem
        padding-right: 3rem

@keyframes appear
    0%
        opacity: 0

    100%
        opacity: 1

.Logo
    opacity: 0
    z-index: 100
    cursor: pointer
    position: relative
    animation: appear 1s ease 7s 1 forwards

    img
        position: absolute

    &__Et
        width: 2rem
        top: 8.5rem
        left: 3rem
        opacity: 0
        transition: all .2s

    &__Josiane
        width: 9rem
        top: 3rem
        left: 3rem

    &__Cousines
        width: 17rem
        top: 11rem
        left: 3rem
        opacity: 0
        transition: all .2s
    
    &.flying
            
        img
            position: fixed

        & .Logo__Et
            width: 2rem
            top: 6.5rem
            left: 3rem
            opacity: 1

        & .Logo__Josiane
            width: 9rem
            left: 3rem
            top: 3  rem


        & .Logo__Cousines  
            width: 17rem  
            top: 9rem
            left: 3rem
            opacity: 1


@media screen and (max-width: 1024px)
    .Logo
        &__Josiane
            width: 9rem
            top: 3rem
            left: 3rem

        &__Cousines
            width: 17rem
            top: 11rem
            left: 3rem

            
        &.flying .Logo__Cousines  
            width: 17rem  
            top: 11rem
            left: 3rem