.Home
    text-align: center
    width: 100%

.Home > *:not(.Parallax)

.Family
    display: flex
    margin-top: 10rem
    justify-content: space-between
    align-items: center
    flex-direction: row
    max-width: 145rem
    width: 80%
    margin: 10rem auto 17rem auto

    &__Text
        width: 30%
        text-align: left

        h4
            font-family: 'HelveticaNeueMedium'
            font-weight: 100
            letter-spacing: 4px
            font-size: 1.5rem
            color: #025295

        p
            font-family: "HelveticaNeueExtraLight"
            font-size: 1.7rem
            color: rgba(0, 0, 0, 0.5)
            letter-spacing: 0.5px
            line-height: 1.9rem

    &__Carousel
        width: 110%
        margin-top: 5rem
        position: relative
        display: flex
        justify-content: center
        align-items: center

        &::before
            content: ""
            background-color: #F8F8F8
            position: absolute
            right: 3rem
            top: -6rem
            bottom: -8rem
            left: 36rem

        .rec-carousel
            .rec-carousel-item
                display: flex
                justify-content: center
                align-items: center

            button:nth-child(1)
                z-index: 1
                position: absolute
                left: 0
                top: 50%
                transform: translate(-30%, -50%)
                border: none
                background: transparent
                cursor: pointer

            button:nth-child(3)
                z-index: 1
                position: absolute
                top: 50%
                right: 0
                transform: translate(30%, -50%)
                border: none
                background: transparent
                cursor: pointer

.Person
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    // border: 1px solid red

    &__Picture
        object-fit: cover
        width: 45%
        margin-left: 5%

    &__Text
        display: block
        padding-left: 4rem
        text-align: left
        width: 50%

    &__Name
        font-family: 'HelveticaNeueBold'
        font-style: italic
        font-size: 3.5rem
        color: rgba(0, 0, 0, .5)
        margin-top: 1rem
        margin-bottom: -.5rem

    &__Position
        font-family: 'HelveticaNeueLight'
        font-style: italic
        font-size: 2rem
        color: rgba(0, 0, 0, .5)
        letter-spacing: 0.3px
        width: 100%
        display: inline-block

    &__Description
        font-family: "HelveticaNeueExtraLight"
        font-size: 1.7rem
        color: rgba(0, 0, 0, 0.5)
        letter-spacing: 0.5px
        line-height: 1.9rem

@media screen and (max-width: 1440px)
    .Family__Carousel::before
        content: ""
        background-color: #F8F8F8
        position: absolute
        top: 50%
        left: 20rem
        height: 120%
        width: 65%
        transform: translateY(-50%)

    
@media screen and (max-width: 768px)
    .Family
        height: auto
        flex-direction: column

        &__Text
            width: 100%

        &__Carousel
            width: 100%
            height: auto
            margin-top: 10rem

        &__Carousel::before
            content: ""
            background-color: #F8F8F8
            position: absolute
            top: 50%
            left: 10rem
            height: 60%
            width: 80%
            transform: translateY(-50%)
        
.Person
    &__Description

    &__Text
        padding-left: 3rem
        padding-right: 3rem

.Logo
    z-index: 100
    cursor: pointer
    position: relative

    img
        position: absolute;

    &__Josiane
        width: 11rem
        top: 5rem
        left: 5rem

    &__Cousines
        width: 26rem
        top: 5rem
        left: 5rem
    
    &.flying

        img
            position: fixed

@media screen and (max-width: 1024px)
    .Logo
        &__Josiane
            width: 11rem
            top: 3rem
            left: 3rem

        &__Cousines
            width: 26rem
            top: 3rem
            left: 3rem