.Home
    text-align: center
    width: 100%

.Home > *:not(.Parallax)

.LoadMore__Btn
    display: block
    margin: 0 auto
    color: white
    padding: 1.5rem
    background-color: #025295
    border-radius: 1rem
    border: none
    margin-bottom: 10rem
