.Social
    margin-top: 5rem
    color: #025295

    a
        height: 2rem
        display: inline-block
        background-color: #025295
        padding: .8rem
        border-radius: 50%
        margin: 0 1rem

        img
            height: 100%
