.Footer
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    font-size: 13px
    flex-direction: column
    color: #7F7F7F

    &__Title
        display: inline-block
        width: 10rem
        text-align: center
        cursor: pointer

    &__Content
        display: flex
        flex-direction: column
        width: 100%
        justify-content: center
        margin-top: 3rem
        font-weight: 100
        letter-spacing: 1px
        align-items: center

    &__Side
        display: flex

        &-top
            align-items: flex-end

            > span:not(:last-child)
                border-right: 1px solid grey

            > span
                margin: 1rem 0 1rem 1rem
                padding-right: 1rem

        &-bottom
            align-items: flex-start

            > span:not(:last-child)
                border-right: 1px solid grey

            > span
                margin: 1rem 0 1rem 1rem
                padding-right: 1rem

    &__Bottom
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 5rem

@media screen and (max-width: 768px)
    .Footer

        &__Side

            &-left
                align-items: center

            > span
                border-right: none
            &-right
                align-items: center
