.Footer
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    font-size: 13px
    flex-direction: column
    color: #7F7F7F

    &__Title
        display: inline-block
        width: 11rem
        text-align: center

    &__Content
        display: flex
        width: 100%
        margin-top: 3rem
        font-weight: 100
        letter-spacing: 1px

    &__Side
        display: flex
        flex-direction: column

        &-left
            align-items: flex-end
            width: 50%

            > span
                border-right: 1px solid grey
                margin: 1rem 0 1rem 1rem
                padding-right: 1rem

        &-right
            align-items: flex-start
            width: 50%

            > span
                margin: 1rem

    &__Bottom
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 5rem

@media screen and (max-width: 768px)
    .Footer

        &__Side

            &-left
                align-items: center

            > span
                border-right: none
            &-right
                align-items: center
