@font-face
    font-family: 'HelveticaNeueBold'
    src: local('HelveticaNeueBold'), url("./fonts/HelveticaNeueBold.ttf") format('truetype')

@font-face
    font-family: 'HelveticaNeueBorder'
    src: local('HelveticaNeueBorder'), url("./fonts/HelveticaNeueBorder.ttf") format('truetype')

@font-face
    font-family: 'HelveticaNeueMedium'
    src: local('HelveticaNeueMedium'), url("./fonts/HelveticaNeueMedium.otf") format('truetype')

@font-face
    font-family: 'HelveticaNeueLight'
    src: local('HelveticaNeueLight'), url("./fonts/HelveticaNeueLight.ttf") format('truetype')

@font-face
    font-family: 'HelveticaNeueExtraLight'
    src: local('HelveticaNeueExtraLight'), url("./fonts/HelveticaNeueExtraLight.ttf") format('truetype')

*,
*::afeter,
*::before
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: 0

html
    font-size: 10px
    overflow-x: hidden
    font-family: "HelveticaNeue"

body
    margin: 0
    padding: 0
    overflow: hidden

img, video
    object-fit: cover

*:focus
    outline: 0 !important
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important
    -webkit-tap-highlight-color: transparent !important
    -webkit-touch-callout: none !important
    -webkit-user-select: none !important
    -khtml-user-select: none !important
    -moz-user-select: none !important
    -ms-user-select: none !important
    user-select: none !important

@media screen and (max-width: 1024px)
    html
        font-size: 8px

.with-background::before
    content: ""
    background-color: #F2F2F2
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)
    top: 50%
    z-index: -1
    height: 60%
    width: 100%

.with-shadows .rec-carousel-item,
.with-shadows .Video,
.with-shadows .Image
    box-shadow: 0px 0px 12px 6px #e2e2e273
        
.with-borders .rec-carousel-item,
.with-borders .Video
    border-radius: 10px
    border: 2px solid #EAEAEA
    overflow: hidden

@import "./components/Block/Block"
@import "./components/Button/Button"
@import "./components/Cousines/Cousines"
@import "./components/Footer/Footer"
@import "./components/Header/Header"
@import "./components/Isotope/Isotope"
@import "./components/Loader/Loader"
@import "./components/Menu/Menu"
@import "./components/Paragraph/Paragraph"
@import "./components/Scroller/Scroller"
@import "./components/Social/Social"
@import "./components/Title/Title"
@import "./components/Video/Video"