*,
*::afeter,
*::before
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 10px
    font-family: "HelveticaNeue"

body
    margin: 0
    padding: 0

img, video
    object-fit: cover
